body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin: 0;
    font-family: 'Times New Roman';
    background: #222;
    font-size: 120%;
    text-align: center;
}

.card {
    background: black;
    color: white;
    padding: 3.5em;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    margin: 1.6em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 100%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 30px;
    background: #7c7c7c2b;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}

input.lon {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 30px;
    background: #7c7c7c2b;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}

input.lat {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 30px;
    background: #7c7c7c2b;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}

button:hover {
    background: #7c7c7c6b;
}

.description {
    text-transform: capitalize;
    margin-left: 10px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading weather...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}